<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>웃긴 동영상</title>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<style>
</style>
</head>
<body>
    <h1>나의 선물이야! 보고 기분이 좋아졌으면 좋겠다!<h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MEzo4RNxZdw?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <button id="captionButton" style="margin: 0 auto 10px;">돌아가기</button>
        <p id="captionDisplay"></p>
    </div>
    <script>
        // 버튼 클릭 시
        $('#captionButton').click(function () 
        {
            window.location.href = "btn_chatbot"
        });

    </script>
</body> 
</html>
